@import "./_variables.scss";

.header {
  display: flex;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    @media (min-width: $width-lg) {
      width: 100px;
      height: 100px;
    }
  }

  h1 {
    font-size: 48px;
    font-weight: 800;
    @media (min-width: $width-lg) {
      font-size: 100px;
    }
  }
}
