@import "./_variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $width-lg) {
    width: $width-lg;
  }

  img {
    width: 56px;
    height: 56px;
    @media (min-width: $width-lg) {
      width: 100px;
      height: 100px;
    }
  }

  h1 {
    font-size: 56px;
    font-weight: 800;
    @media (min-width: $width-lg) {
      font-size: 100px;
    }
  }
}
