@import "./_variables.scss";

* {
  margin: 0;
  color: $text;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: $bg;
  background-image: url("../topography.svg");
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  @include font-regular;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

.card {
  background: $card;
  @include shadow;
  transition: box-shadow 500ms;
  border-radius: 1rem;

  &:hover {
    @include shadow-long;
  }
}
