@import "./_variables.scss";

.stat {
  display: flex;
  align-items: center;
  @include font-mono;
  white-space: pre;
  span {
    font-weight: 900;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
}
