@import "./_variables.scss";

.player {
  background: $card;
  @include shadow;
  transition: box-shadow 500ms;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 1rem 0 1rem;

  &:hover {
    @include shadow-long;
  }

  img {
    width: 14rem;
    height: 14rem;
    border-radius: 1rem;
  }

  .name {
    font-size: 2rem;
    font-weight: 800;
    margin: 6px 0 6px 0;
  }

  h2 img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
